[Unit]
Description=NGCP RTP/media Recording Daemon 2
After=network-online.target
After=remote-fs.target
After=ngcp-rtpengine-recording-nfs-mount.service
Requires=network-online.target
Requires=ngcp-rtpengine-recording-nfs-mount.service

[Service]
Type=notify
LimitNOFILE=100000
RuntimeDirectory=rtpengine-recording2
PIDFile=/run/rtpengine-recording2/ngcp-rtpengine-recording-daemon2.pid
AmbientCapabilities=CAP_NET_ADMIN CAP_CHOWN
CapabilityBoundingSet=CAP_NET_ADMIN CAP_CHOWN
User=rtpengine
Group=rtpengine
ExecStart=/usr/bin/rtpengine-recording -f  --no-log-timestamps --pidfile /run/rtpengine-recording2/ngcp-rtpengine-recording-daemon2.pid --config-file /etc/rtpengine/rtpengine-recording2.conf

[Install]
WantedBy=multi-user.target
